# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/ImGui DirectX 9 Kiero Hook 2/v16/

ImGui DirectX 9 Kiero Hook 2/x64/Debug/

ImGui DirectX 9 Kiero Hook 2/Debug/

Debug/
